openapi: 3.2.0
info:
  title: Submittable Messaging API
  description: The Submittable API (v4) provides read-and-write, programmatic access to a Submittable account's data.
  version: '4.0'
  contact:
    name: Submittable
    url: https://www.submittable.com
  x-endpointsModeled: true
servers:
- url: https://submittable-api.submittable.com/v4
  description: Submittable API v4 (current)
- url: https://submittable-api.submittable.com/v3
  description: Submittable API v3 (legacy)
security:
- basicAuth: []
tags:
- name: Messaging
  description: Message attachments.
paths:
  /messaging/{messageId}/files:
    parameters:
    - name: messageId
      in: path
      required: true
      schema:
        type: string
        format: uuid
    get:
      operationId: getMessageFiles
      tags:
      - Messaging
      summary: Get message attachments
      description: Retrieve the files attached to a message.
      responses:
        '200':
          description: The attached files.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FileList'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
components:
  schemas:
    File:
      type: object
      properties:
        fileId:
          type: string
          format: uuid
        fileName:
          type: string
        url:
          type: string
          format: uri
        contentType:
          type: string
    FileList:
      allOf:
      - $ref: '#/components/schemas/Paged'
      - type: object
        properties:
          items:
            type: array
            items:
              $ref: '#/components/schemas/File'
    Error:
      type: object
      properties:
        error:
          type: string
        message:
          type: string
    Paged:
      type: object
      properties:
        continuationToken:
          type:
          - string
          - 'null'
          description: Token to pass on the next request to retrieve the next page.
        totalCount:
          type:
          - integer
          - 'null'
  responses:
    Unauthorized:
      description: Authentication failed or was not provided.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    NotFound:
      description: The requested resource was not found.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
  securitySchemes:
    basicAuth:
      type: http
      scheme: basic
      description: HTTP Basic Authentication. Send your account access token as the password portion of the Basic Auth header (the username may be left blank or set to your account email, per Submittable's documentation).
