openapi: 3.2.0
info:
  title: Submittable Submissions API
  description: The Submittable API (v4) provides read-and-write, programmatic access to a Submittable account's data.
  version: '4.0'
  contact:
    name: Submittable
    url: https://www.submittable.com
  x-endpointsModeled: true
servers:
- url: https://submittable-api.submittable.com/v4
  description: Submittable API v4 (current)
- url: https://submittable-api.submittable.com/v3
  description: Submittable API v3 (legacy)
security:
- basicAuth: []
tags:
- name: Submissions
  description: Applications and entries sent to your projects.
paths:
  /submissions:
    get:
      operationId: listSubmissions
      tags:
      - Submissions
      summary: List submissions
      description: List submissions in the account. Supports filtering (for example by project, status, label, or date range) and pagination via a continuation token.
      parameters:
      - name: projectId
        in: query
        required: false
        schema:
          type: string
          format: uuid
        description: Filter submissions to a single project.
      - name: status
        in: query
        required: false
        schema:
          type: string
        description: Filter by submission status.
      - name: continuationToken
        in: query
        required: false
        schema:
          type: string
        description: Token returned by a previous page to fetch the next page.
      - name: pageSize
        in: query
        required: false
        schema:
          type: integer
        description: Number of items to return per page.
      responses:
        '200':
          description: A paged list of submissions.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SubmissionList'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '429':
          $ref: '#/components/responses/TooManyRequests'
  /submissions/{submissionId}:
    parameters:
    - name: submissionId
      in: path
      required: true
      schema:
        type: string
        format: uuid
      description: The GUID of the submission.
    get:
      operationId: getSubmission
      tags:
      - Submissions
      summary: Get a submission
      description: Retrieve a single submission by its GUID.
      responses:
        '200':
          description: The requested submission.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Submission'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
    patch:
      operationId: updateSubmission
      tags:
      - Submissions
      summary: Update a submission
      description: Update mutable fields on a submission, such as its status or labels.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SubmissionUpdate'
      responses:
        '200':
          description: The updated submission.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Submission'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
components:
  schemas:
    Label:
      type: object
      properties:
        labelId:
          type: string
          format: uuid
        name:
          type: string
        color:
          type: string
    SubmissionList:
      allOf:
      - $ref: '#/components/schemas/Paged'
      - type: object
        properties:
          items:
            type: array
            items:
              $ref: '#/components/schemas/Submission'
    Error:
      type: object
      properties:
        error:
          type: string
        message:
          type: string
    SubmissionUpdate:
      type: object
      properties:
        status:
          type: string
        labelIds:
          type: array
          items:
            type: string
            format: uuid
    Submission:
      type: object
      properties:
        submissionId:
          type: string
          format: uuid
        title:
          type: string
        status:
          type: string
        projectId:
          type: string
          format: uuid
        submitterId:
          type: string
          format: uuid
        labels:
          type: array
          items:
            $ref: '#/components/schemas/Label'
        submittedAt:
          type: string
          format: date-time
    Paged:
      type: object
      properties:
        continuationToken:
          type:
          - string
          - 'null'
          description: Token to pass on the next request to retrieve the next page.
        totalCount:
          type:
          - integer
          - 'null'
  responses:
    Unauthorized:
      description: Authentication failed or was not provided.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    NotFound:
      description: The requested resource was not found.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    TooManyRequests:
      description: Rate limit exceeded. The API allows roughly 10 transactions per second and 10,000 per hour.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
  securitySchemes:
    basicAuth:
      type: http
      scheme: basic
      description: HTTP Basic Authentication. Send your account access token as the password portion of the Basic Auth header (the username may be left blank or set to your account email, per Submittable's documentation).
