openapi: 3.2.0
info:
  title: Submittable Assignments API
  description: The Submittable API (v4) provides read-and-write, programmatic access to a Submittable account's data.
  version: '4.0'
  contact:
    name: Submittable
    url: https://www.submittable.com
  x-endpointsModeled: true
servers:
- url: https://submittable-api.submittable.com/v4
  description: Submittable API v4 (current)
- url: https://submittable-api.submittable.com/v3
  description: Submittable API v3 (legacy)
security:
- basicAuth: []
tags:
- name: Assignments
  description: Routing of submissions to reviewers.
paths:
  /submissions/team/assignment:
    post:
      operationId: assignSubmission
      tags:
      - Assignments
      summary: Assign a submission to a reviewer
      description: Create a review assignment routing a submission to a team member for evaluation.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AssignmentCreate'
      responses:
        '200':
          description: The created assignment.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Assignment'
        '401':
          $ref: '#/components/responses/Unauthorized'
components:
  schemas:
    Assignment:
      type: object
      properties:
        assignmentId:
          type: string
          format: uuid
        submissionId:
          type: string
          format: uuid
        assigneeId:
          type: string
          format: uuid
        status:
          type: string
    Error:
      type: object
      properties:
        error:
          type: string
        message:
          type: string
    AssignmentCreate:
      type: object
      required:
      - submissionId
      - assigneeId
      properties:
        submissionId:
          type: string
          format: uuid
        assigneeId:
          type: string
          format: uuid
  responses:
    Unauthorized:
      description: Authentication failed or was not provided.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
  securitySchemes:
    basicAuth:
      type: http
      scheme: basic
      description: HTTP Basic Authentication. Send your account access token as the password portion of the Basic Auth header (the username may be left blank or set to your account email, per Submittable's documentation).
