openapi: 3.2.0
info:
  title: Submittable Funds API
  description: The Submittable API (v4) provides read-and-write, programmatic access to a Submittable account's data.
  version: '4.0'
  contact:
    name: Submittable
    url: https://www.submittable.com
  x-endpointsModeled: true
servers:
- url: https://submittable-api.submittable.com/v4
  description: Submittable API v4 (current)
- url: https://submittable-api.submittable.com/v3
  description: Submittable API v3 (legacy)
security:
- basicAuth: []
tags:
- name: Funds
  description: Budgets and grant distributions.
paths:
  /funds:
    get:
      operationId: listFunds
      tags:
      - Funds
      summary: List funds
      description: List the funds (budgets) used to award and disburse grants.
      responses:
        '200':
          description: A list of funds.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FundList'
        '401':
          $ref: '#/components/responses/Unauthorized'
components:
  schemas:
    FundList:
      allOf:
      - $ref: '#/components/schemas/Paged'
      - type: object
        properties:
          items:
            type: array
            items:
              $ref: '#/components/schemas/Fund'
    Error:
      type: object
      properties:
        error:
          type: string
        message:
          type: string
    Fund:
      type: object
      properties:
        fundId:
          type: string
          format: uuid
        name:
          type: string
        balance:
          type: number
        currency:
          type: string
    Paged:
      type: object
      properties:
        continuationToken:
          type:
          - string
          - 'null'
          description: Token to pass on the next request to retrieve the next page.
        totalCount:
          type:
          - integer
          - 'null'
  responses:
    Unauthorized:
      description: Authentication failed or was not provided.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
  securitySchemes:
    basicAuth:
      type: http
      scheme: basic
      description: HTTP Basic Authentication. Send your account access token as the password portion of the Basic Auth header (the username may be left blank or set to your account email, per Submittable's documentation).
