openapi: 3.2.0
info:
  title: Submittable Entries API
  description: The Submittable API (v4) provides read-and-write, programmatic access to a Submittable account's data.
  version: '4.0'
  contact:
    name: Submittable
    url: https://www.submittable.com
  x-endpointsModeled: true
servers:
- url: https://submittable-api.submittable.com/v4
  description: Submittable API v4 (current)
- url: https://submittable-api.submittable.com/v3
  description: Submittable API v3 (legacy)
security:
- basicAuth: []
tags:
- name: Entries
  description: Form-field responses captured on submissions.
paths:
  /entries:
    get:
      operationId: listEntries
      tags:
      - Entries
      summary: List form-field entries
      description: List the form-field entries (answers) captured against submissions. In v4 these consolidate the legacy v3 requests/responses endpoints.
      parameters:
      - name: continuationToken
        in: query
        required: false
        schema:
          type: string
      responses:
        '200':
          description: A paged list of entries.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EntryList'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /entries/{entryId}:
    parameters:
    - name: entryId
      in: path
      required: true
      schema:
        type: string
    get:
      operationId: getEntry
      tags:
      - Entries
      summary: Get an entry
      description: Retrieve a single form-field entry.
      responses:
        '200':
          description: The requested entry.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Entry'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
  /entries/submissions/{submissionId}:
    parameters:
    - name: submissionId
      in: path
      required: true
      schema:
        type: string
        format: uuid
    get:
      operationId: getSubmissionEntries
      tags:
      - Entries
      summary: Get entries for a submission
      description: Retrieve the form-field entries captured on a specific submission.
      responses:
        '200':
          description: The entries for the submission.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EntryList'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
components:
  schemas:
    Entry:
      type: object
      properties:
        entryId:
          type: string
        submissionId:
          type: string
          format: uuid
        fieldLabel:
          type: string
        value:
          type: string
    Error:
      type: object
      properties:
        error:
          type: string
        message:
          type: string
    EntryList:
      allOf:
      - $ref: '#/components/schemas/Paged'
      - type: object
        properties:
          items:
            type: array
            items:
              $ref: '#/components/schemas/Entry'
    Paged:
      type: object
      properties:
        continuationToken:
          type:
          - string
          - 'null'
          description: Token to pass on the next request to retrieve the next page.
        totalCount:
          type:
          - integer
          - 'null'
  responses:
    Unauthorized:
      description: Authentication failed or was not provided.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    NotFound:
      description: The requested resource was not found.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
  securitySchemes:
    basicAuth:
      type: http
      scheme: basic
      description: HTTP Basic Authentication. Send your account access token as the password portion of the Basic Auth header (the username may be left blank or set to your account email, per Submittable's documentation).
