openapi: 3.0.3
info:
  title: Submittable Assignments Submissions API
  description: 'The Submittable API (v4) provides read-and-write, programmatic access to a Submittable account''s data. Submittable is a submission management, grants, and applications platform. This API exposes submissions and their form-field entries, projects and forms, submitters (users), labels, review team members and assignments, funds and payment distributions, and message attachments. Authentication uses HTTP Basic Authentication, where an account access token (found under More > Integrations > API Access) is sent as the password portion of the Basic Auth header. The API is throttled at roughly 10 transactions per second and 10,000 transactions per hour. In v4, submission and label identifiers are GUIDs and list endpoints page with continuation tokens rather than page numbers.

    This description is modeled from Submittable''s public API reference and help documentation. Endpoint paths, parameters, and schemas are honestly modeled to reflect the documented resource groups; some request/response shapes are generalized where the underlying account-gated reference does not publish a machine-readable specification. Endpoints are marked endpointsModeled where exact shapes were not confirmable without an authenticated account.'
  version: '4.0'
  contact:
    name: Submittable
    url: https://www.submittable.com
  x-endpointsModeled: true
servers:
- url: https://submittable-api.submittable.com/v4
  description: Submittable API v4 (current)
- url: https://submittable-api.submittable.com/v3
  description: Submittable API v3 (legacy)
security:
- basicAuth: []
tags:
- name: Submissions
  description: Applications and entries sent to your projects.
paths:
  /submissions:
    get:
      operationId: listSubmissions
      tags:
      - Submissions
      summary: List submissions
      description: List submissions in the account. Supports filtering (for example by project, status, label, or date range) and pagination via a continuation token.
      parameters:
      - name: projectId
        in: query
        required: false
        schema:
          type: string
          format: uuid
        description: Filter submissions to a single project.
      - name: status
        in: query
        required: false
        schema:
          type: string
        description: Filter by submission status.
      - name: continuationToken
        in: query
        required: false
        schema:
          type: string
        description: Token returned by a previous page to fetch the next page.
      - name: pageSize
        in: query
        required: false
        schema:
          type: integer
        description: Number of items to return per page.
      responses:
        '200':
          description: A paged list of submissions.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SubmissionList'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '429':
          $ref: '#/components/responses/TooManyRequests'
  /submissions/{submissionId}:
    parameters:
    - name: submissionId
      in: path
      required: true
      schema:
        type: string
        format: uuid
      description: The GUID of the submission.
    get:
      operationId: getSubmission
      tags:
      - Submissions
      summary: Get a submission
      description: Retrieve a single submission by its GUID.
      responses:
        '200':
          description: The requested submission.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Submission'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
    patch:
      operationId: updateSubmission
      tags:
      - Submissions
      summary: Update a submission
      description: Update mutable fields on a submission, such as its status or labels.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SubmissionUpdate'
      responses:
        '200':
          description: The updated submission.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Submission'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
components:
  schemas:
    SubmissionUpdate:
      type: object
      properties:
        status:
          type: string
        labelIds:
          type: array
          items:
            type: string
            format: uuid
    Label:
      type: object
      properties:
        labelId:
          type: string
          format: uuid
        name:
          type: string
        color:
          type: string
    Submission:
      type: object
      properties:
        submissionId:
          type: string
          format: uuid
        title:
          type: string
        status:
          type: string
        projectId:
          type: string
          format: uuid
        submitterId:
          type: string
          format: uuid
        labels:
          type: array
          items:
            $ref: '#/components/schemas/Label'
        submittedAt:
          type: string
          format: date-time
    Error:
      type: object
      properties:
        error:
          type: string
        message:
          type: string
    Paged:
      type: object
      properties:
        continuationToken:
          type: string
          nullable: true
          description: Token to pass on the next request to retrieve the next page.
        totalCount:
          type: integer
          nullable: true
    SubmissionList:
      allOf:
      - $ref: '#/components/schemas/Paged'
      - type: object
        properties:
          items:
            type: array
            items:
              $ref: '#/components/schemas/Submission'
  responses:
    TooManyRequests:
      description: Rate limit exceeded. The API allows roughly 10 transactions per second and 10,000 per hour.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    NotFound:
      description: The requested resource was not found.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    Unauthorized:
      description: Authentication failed or was not provided.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
  securitySchemes:
    basicAuth:
      type: http
      scheme: basic
      description: HTTP Basic Authentication. Send your account access token as the password portion of the Basic Auth header (the username may be left blank or set to your account email, per Submittable's documentation).
